/* *{
    margin: 0;
} */

/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    color: #FFFFFF;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-weight: 700;
    padding: 18px 35px;

}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    margin-top: 5px;
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

/* main section style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section style */
.about {
    padding: 150px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;

}

.about-info-container {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

#what-i-do-description {
    padding: 30px 150px;
}

/* skills related style */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    text-align: justify;
    color: #181818;
}

.skill-description {
    color: #757575;
}

/* resume section style */

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 71px;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.resume-item-institute {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-container hr {
    margin: 30px 0;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer section style */
footer {
    padding: 130px 230px;
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.footer-column{
    width: 50%;
}
.section-description {
    text-align: left;
}

.social-links a{
    margin-right: 25px;
}
.contact input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border: 0;
    background: #FFF;
    width: 100%;
}